#develop {
    margin: 0 auto;
}
.modalhead-left {
    width : 90%;
    float: left;
}
.modalhead-right {
    width : 10%;
    float: left;
    
}
.mheadfooter {
    clear: both;
}
.modalbody-left {
    width : 40%;
    float: left;
    
}
.modalbody-right {
    width : 60%;
    float: left;
    
}
.mheadfooter {
    clear: both;
}
.modal-img {
    width : 100px;
    height : 100px;
}
.postbox {
    background-color: aqua;
    width: 500px;
    margin : 30px auto 30px auto;
    padding : 20px;
    box-shadow: 0px 0px 3px 0px black;
}