
#developblog {
    margin: 0 auto;
}
.modalhead-left {
    width : 90%;
    float: left;
}
.modalhead-right {
    width : 10%;
    float: left;
    
}
.mheadfooter {
    clear: both;
}
.modalbody-left {
    width : 40%;
    float: left;
    
}

.modalbody-right {
    width : 60%;
    float: left;
    
}
.mheadfooter {
    clear: both;
}
.modal-img {
    width : 100px;
    height : 100px;
}
.postbox {
    background-color: aqua;
    width: 500px;
    margin: 30px auto 30px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px black;
}
.none {
    display: none;
}
.show {
    display: block;
}
.flex {
    display: flex;
}
.modalBackground {
    /*모달 배경*/
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    
}
